# Python cache
__pycache__/
*.py[cod]

# Jupyter temporary files
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# IDE / OS files
.vscode/
.DS_Store
Thumbs.db

# Python build files
*.egg-info/
dist/
build/